
body {
  background: #65767e;
  font-family: "Montserrat", sans-serif;
}

.navMenu {
  position: absolute;
  top: 1%;
  left: 90%;
  height: 25%;
}
.logo{
	color: #f6f4e6;
	font-size: 1.2em;
	width: 80px;
}
.navMenu a {
  color: #f6f4e6;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 80px;
}

.navMenu a:hover {
  color: #fddb3a;
}
.navMenu a:hover{
  opacity: 1;
}

.navMenu a:hover {
  opacity: 1;
}

.navMenu a:hover {
  opacity: 1;
}

.navMenu a:hover {
  opacity: 1;
}

li{
  list-style-type:none;

}
.flex{
  width: 50%;
  height: 100%;
  display: flex;
  text-align: center;
  margin: 0 25% 0 25%;
  flex-wrap: wrap;
}
.flex div{
  -ms-flex: 2; 
  flex: 1;
}

img{
  border-radius: 50%;
  /* float: left; */
  width: 700px;
  height: 700px;
}
div .cadre{
  height: 300px;
  padding: 10px;
  margin: 20px;
  border: 2px solid rgb(79, 87, 148);
  background-color: #f6f4e6;
  border-radius: 25px;
}
.image
{
  margin: 100px auto;
}